body{
    background-color: black;
    color :blanchedalmond;
}

h1, h2 {
    color: white;
    border: 1.5px solid #fba481;
    border-radius: 5px;
    padding-left: 40%;
}

p {
    border: 1.5px solid #fba481;

}



div {
    border: 1.5px solid #fba481;
}

img{

    border: 5px solid rgb(215, 215, 247);
    border-radius: 45%;
    height: 200px;
    width: 250px; 
    display: ;
}